 #toptext {
      position: absolute;
      top: 10px;
      height: 50px;
      width: 100%;
      text-align: center;
      z-index: 1;
      display: block;
    }

    #bottomtext {
      position: absolute;
      top: 50px;
      width: 100%;
      text-align: center;
      z-index: 1;
      display: block;
    }

    #linksbutton {
      position: absolute;
      bottom: 8px;
      left: 16px;
      font-size: 18px;
      z-index: 1;
    }

    #rechtsbutton {
      position: absolute;
      bottom: 8px;
      right: 16px;
      font-size: 18px;
      z-index: 1;
      display: block;
    }

    #bottombottomtext {
      z-index: -2;
    }

    #bodyid{
        overflow: flow;
       /* background-color: rgb(153, 207, 207); */

    }